* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #1f2937;
}

.childNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
  color: #FFFFFF;
  padding: 10px 0;
}

.navItem {
  display: flex;
  gap: 24px;
}

.navItem a {
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.5;
}

.hero {
  background-color: #1f2937;
  display: flex;
  padding: 100px 15%;
  align-items: center;
  gap: 50px;
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 10px;
}

.hero-text p {
  color: #E5E7EB;
  font-size: 18px;
  margin-bottom: 20px;
}

.signUp-button {
  background-color: #3882F6;
  color: #FFFFFF;
  padding: 8px 25px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.hero img {
  width: 500px;
  height: 250px;
  background-color: #6d727a;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-section {
  background-color: #FFFFFF;
  padding: 50px 15%;
  text-align: center;
  color: #1f2937;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 40px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin-bottom: 10px;
  overflow: hidden;
}

.box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}



.card p {
  font-size: 16px;
  color: #4b5563;
}

.background-quotes {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  padding: 100px 15%;
}

.quotes {
  max-width: 800px;
}

.quotes h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
  line-height: 1.2;
}

.person {
  text-align: right;
}

.person p {
  font-size: 24px;
  font-weight: 800;
  color: #1f2937;
}

.cta-container {
  padding: 80px 15%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.cta-box {
  background-color: #3882F6;
  width: 100%;
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border-radius: 8px;
}

.cta-text h3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 5px;
}

.cta-text p {
  font-size: 15px;
  color: #F9FAF8;
}

.signUp-footer-btn {
  padding: 8px 30px;
  border-radius: 8px;
  background-color: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  font-weight:  bold;
  font-size: 13px;
  cursor: pointer;
}

.footer {
  background-color: #1f2937;
  color: #FFFFFF;
  text-align: center;
  padding: 30px 15%;
  font-size: 16px;
}